@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;800;900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}
*::selection{
    background: #053342;
    color: #d9d9d9;
}
html{
    font-size: 80.5%;
    overflow-x: hidden;
}
html::-webkit-scrollbar{
    width: 1.5rem;
}
html::-webkit-scrollbar-track{
    background: #053342;
}
html::-webkit-scrollbar-thumb{
    background: #d9d9d9;
}
body{
    background-color: #036F90;
    overflow-x: hidden;
    padding-left: 26rem;
}
section{
   min-height: 100vh; 
   padding-top: 0%;
   scroll-behavior:calc()
}
section:target{
    scroll-behavior: smooth;
}
.btn{
padding: .6rem 4rem;
background: #d9d9d9;
color: #036F90;
cursor: pointer;
font-size: 1rem;
border-radius: 25rem;
/* margin-bottom: 45rem; */
margin-top:4rem;
}
.btn:hover{
    background: #053342;
    color: #d9d9d9;
}
header{
    position: fixed;
    top: 0; left: 0;
    z-index: 1000;
    height: 100%;
    width: 23rem;
    background: #053342;
    display: flex;
    align-items: center;
    flex-flow: column;
    text-align: center;
}
header .user img {
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
    margin-top: 2.1rem;
    border: .3rem solid  #036F90;
}
header .user .name{
font-size: 1.5rem;
color: #D9D9D9;

}
header .user .post{
    font-size: 1rem;
    color: #d9d9d9;
}
header .navbar{
    width: 100%;
}
header .navbar ul{
    list-style: none;
    padding: 1rem 3rem;
}
header .navbar ul li a{
    display: block;
    padding: 1rem;
    margin: 1.5rem 0;
    color: #D9D9D9;
    background: #036F90;
    font-size: 1rem;
    border-radius: 12px;
}
header .navbar ul li a:hover{
background-color: #d9d9d9;
color: #036F90;
}
#menu{
    position: fixed;
    top: 2rem;right:2rem;
    background: #d9d9d9;
    cursor: pointer;
    font-size: 2.5rem;
    padding: 1rem 1.5rem;
    z-index:900;
    display: none;
}
.home{
    display: flex;
    justify-content: center;
    flex-flow: column;
    padding:0 4rem;
}
.home h3{
    margin-top: 5rem;
    font-size: 1rem;
    color: #f3f3f3;
}
.home h1{
    font-size: 2rem;
    color: #f2f2f2;
    font-family: poppins;
}
span{
    font-size: 2.7rem;
    color: #d9d9d9;
}
.home p{
    color: #d9d9d9;
    font-family: 'Poppins', sans-serif;
    margin-top: 2rem;
    margin-bottom: 1rem;
    line-height: 2rem;
    font-size: 1.2rem;
}
.about{
    color: #d9d9d9;
}
.about p{
    color: #d9d9d9;
    font-family: 'Poppins', sans-serif;    position: relative;
    margin-top: 4rem;
    margin-bottom: 1rem;
    line-height: 2rem;
    /* display: flex; */
    /* padding: 5rem; */
    padding-bottom: -5rem;
    align-items: center;
    justify-content: center;
    padding-left: 5rem;
    padding-right: 4rem;
    font-size: 1.3rem;

}
.heading{
    text-align: center;
    margin: 0 6rem;
    font-size: 4rem;
    padding: 1rem;
    border-bottom: .1rem solid #053342;
    color:#d9d9d9;
}
.humbergor{
   display: block;
   width: 15px;
   cursor: pointer;
   height: 20px;
   background: none;
   border: none;
   outline: none;
   appearance: none;


}
.about .counter{
    flex: 1 1 20rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    padding:1rem 0;
    margin-top: -46rem;
    border-radius: 12px;
    padding-left: 2rem;
}
.about .counter .box{
    /* height: 17rem; */
    width: 12rem;
    background: #d9d9d9;
    text-align: center;
    padding: 3rem;
    margin: 2rem;
    color: #036F90;
    border-radius: 2rem;
    margin-top: 48rem;
}
.about .counter .box:hover{
    background:#053342;
    color: #d9d9d9;
}
.about .counter .box span{
    color:#036F90;
}
.about .counter .box span:hover{
    color: #d9d9d9;
}
/* .info{
    padding: 1rem;
    margin-bottom: -55rem;
} */
.about .btn{
    margin-left: 5rem;
    padding: .6rem 4rem;
    background: #d9d9d9;
    color: #036F90;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 25rem;
}
.experience .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem 0;
    padding-left: 4rem;

}
.experience .box-container .box{
    width: 24rem;
    margin: 3rem 1rem;
    padding-left: 3rem;
    border-left: .2rem solid #D9D9D9;
    /* margin-top: 16rem; */
}
.experience .box-container .box span{
    font-size: 1.3rem;
    background: #D9D9D9;
    color: #036F90;
    border-radius: 5rem;
    margin-left: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
.experience .box-container .box h3{
    color: #D9D9D9;
    font-size: 1.5rem;
    padding-top: 1rem;
}
.experience .box-container .box p{
    font-size: 1.2rem;
    color: #d9d9d9;
    font-family: 'Poppins', sans-serif;
}
.experience .box-container .box i{
    /* position: absolute; */
    top: -1.5rem;left: -2.5rem;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    line-height: 5rem;
    text-align: center;
    font-size: 2rem;
    color: #D9D9D9;
    background: #053342;
}
.portfolio .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
}
.portfolio .box-container .box{
    height: 17rem;
    width: 20rem;
    border-radius: 1rem;
    margin: 2rem;
    overflow: hidden;
    cursor: pointer;
    /* transform: translate(-50%, -50%); */
}
.portfolio .box-container .box img{
    height: 80%;
    width: 100%;
    object-fit: cover;
}
.portfolio .box-container .box:hover img{
    transform: scale(1.2);
}
/* .portfolio .box-container .overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.4s ease-in-out ;
    background: #053342;
    cursor: pointer;

} */

.contact .row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.contact .row .content{
    flex: 1 1 30rem;
    padding: 4rem;
    padding-bottom: 0;

}
.contact .row form{
    flex: 3 3 29rem;
    padding: 4rem;
    padding-bottom: 0;
    margin: 2rem;
    margin-bottom: 4rem;
}
.contact .row form .box{
    padding: 8px;
    margin: 1rem 0;
    background: #d9d9d9;
    color: #053342;
    text-transform: none;
    font-size: 1.7rem;
    width: 100%;
    border-radius: 0.4rem;
}
.contact .row form .box::placeholder{
    text-transform: lowercase;
    font-size: 18px;
}
.contact .row form .message{
    height: 10rem;
    resize: none;
}
.contact .row .content .title{
    text-transform: uppercase;
    color: #d9d9d9;
    font-size: 2rem;
    padding-bottom: 1rem;
}
.contact .row .content .info h3{
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    color:#d9d9d9;
    padding: 1rem 0;
    font-weight: normal;
}
.contact .row .content .info h3 i{
    padding-right: 1rem;
    color: #031216;

}
.card{
    border: 1rem 1rem 0 0 ;
    border-style: outset;
    border-width: 1px;
    border-color: #053342;
    border-radius: 1px;
    padding: 1rem;}
    /* .card{
        display: grid;
        grid-template-columns: auto auto;
    } */
.card-img-top{
    width: 31rem;
}

.col-md-4{
    display: grid;
    grid-template-columns: auto auto;
   padding-top: 4%;
    
}
.card-body{
    margin-left: 5%;
}
.card-body .a{
    margin-top: 20%;
    margin-left: 5rem;

}
.card-title{
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    color: #d9d9d9;
}
.card-text{
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    color: #d9d9d9;
    padding-right: 3rem;
}
.card-img-top:hover{
    transform: scale(1.1);
}
.card-img-top{
    border-radius: 1rem 1rem 0 0;
}
.btn-span .btn{
    border-radius: 10rem;
}
.post-container{
    max-width: 800px;
    height: 50px;
    background: #036F90;
    width: 80%;
    margin: auto;
    /* margin-left: 4rem; */
}
.header-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
    position: relative;  
}
.header-title{
    margin-bottom: 2em;
}
.back-home{
    color: #d9d9d9;
    font-size: 1.2rem;
    margin-bottom: 2rem;
}
.header-img{
    width: 50rem;
    height: 50rem;
    border-radius: 1rem 1rem 1rem 1rem;
}
.content-blog {
    margin-top: 1rem;
    margin-right: 6rem;
    margin-left: 6rem;
    font-size: 1.2rem;
}

.like-button {
    background-color: #053342;
    color: white;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    display: inline-block;
    vertical-align: top;
    margin-right: 3rem;
  }
  
  .like-count span{
    font-size: 18px;
    margin-left: 10px;
    margin-top: 50rem;
  }
  
  .comment-input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    resize: none;
  }
  
  .comment-submit {
    background-color: #4CAF50;
    color: white;
    padding: 15px 25px;
    border: none;
    cursor: pointer;
    border-radius: 10rem;
    width: 150px;
    margin-bottom: 4rem;
  }
  
  .comment-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .icons{
    width: 50px;
    height: 50px;
    object-fit: contain;
  }
  .like-section{
    margin-right: 35rem;
  }
  .center{
    position: absolute;
    /* top: 50%;
    left: 50%; */
    /* transform: translate(-50%, -50%); */
    width: 400px;
    height: 520px;
    background: #3488a3;
    border-radius: 10px;
    margin-top: 14rem;
    margin-left: 25rem;
  }
  .center h1{
    margin-right: 2rem;
    margin-top: 3rem;
    text-align: center;
    padding: 0 0 20px 0;
  }
  .center form{
    padding: 0 40px;
    box-sizing: border-box;
  }
  form .txt_field{
    position: relative;
    margin: 30px 0;
    font-size: 2rem;
    color: #3ab5de;
  }
  .txt_field input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
  }
  .txt_field label{
    position: absolute;
    top: 100%;
    left: 5px;
    color: #053342;
    transition: translatey(-50%);
    font-size: 20px;
    pointer-events: none;
  }
  .txt_field span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #031216;
  }
  .pass{
    margin: -5px 0 20px 5px;
    color: #0d161a;
    font-size: 12px;
    cursor: pointer;
    margin-top: 3rem;
    
  }
  .pass:hover{
    text-decoration: underline;
  }
  input[type="submit"]{
    width: 100%;
    height: 50px;
    border: 1px solid;
    font-size: 1.5rem;
    font-weight: 500;
  }
  .signup_link{
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: #d9d9d9;
    margin-right: 11rem;
  }
  .signup_link a{
    color: #072233;
    font-weight: 400;
  }
.form-container{
    background: border-box;
    background: #053342;
    width: 600px;
    height: 400px;
    margin: 80px auto;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.2);
}

.form-container h3{
    text-align: center;
    padding: 8px;
    justify-content: center;
}
input[type = text], input[type = password] {
    padding: 15px;
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 10px;
}
.form-grp{
    padding: 10px;
    position: relative;
    font-size: 1rem;
    color: #d9d9d9;
}
input[type = text]:focus, input[type = password]:focus{
    outline: 0;
}
input[type = submit]{
    background-color: #036F90;
    width: 30%;
    border-radius: 10rem;
    cursor: pointer;
    padding: 8px;
    border: none;

}
.form-grp .fa{
    position: absolute;
    top: 50%;
    right: 8%; 
    font-size: 2rem;  
    display: none;
}
.fa-times{
    color: crimson;
    font-size: 3rem;

}
.fa-check{
    color: green;
    font-size: 3rem;

}
.form-container h3{
    font-size: 2rem;
    color: #d9d9d9;
}
.form-container .error{
    color: crimson;
    font-size: 1.4rem;
}






























/*==============Media qeries====================*/
@media (max-width:1200px){
    html{
        font-size: 60.5%;
        font-size: 0.8rem;

    }
    .home{
        font-size: 60%;
        padding-left:1.8rem;
        padding: 2rem 6rem;
    }
    .center{
        position: absolute;
        width: 350px;
        height: 420px;
        margin-right: 100rem;
        margin-left: 10rem;

    }
    
}
@media (max-width:991px) {

    header {
        left: -120%;
    } 

    #menu {
        display: block;
    }

    header.toggle {
        left: 0%;
    }
    body{
        padding: 0;
    }
    .col-md-4{
    display: inline-table; 
    }
    .card-img-top{
        padding-right: 2rem;
        margin-left: 18px;
        padding: 1rem;
    }
    .card-text{
        margin-left: 0rem;
        margin-right: 2rem;
    }
    .center{
        position: absolute;
        width: 350px;
        height: 420px;
        margin-right: 100rem;
        margin-left: 4rem;

    }

}

@media (max-width:876px) {

   html{
    font-size: 50%;
   }
   .about .counter .box{
    margin-bottom: -40rem;
    width: 50rem;
    padding-top: 1px;
    }
}

@media (max-width:400px){
    header{
        width: 80vw;   
     }
    .heading{
     margin: 0 3rem;   
    }
    .experience .box-container .box{
        width: 100%;
    
    }
    .portfolio .box-container .box{
        width: 100%;
        height: 100%;
    }
    .about .counter .box{
        margin-bottom: -40rem;
        width: 150rem;
        padding-top: 1px;
        }
    .contact .row form{
        margin: 1rem 0;
        
    }
    .card-img-top{
        border-radius: 2rem 2rem 0 0;
        padding-left: 1px;
        width: 90%;
        margin-right: 2rem;
    }
    .header-img{
        margin-top: 3rem;
        width: 35rem;
        }
        .content-blog{
            margin-top: 2rem;
        }
        .header-title{
            margin-top: 1rem;
        }
        .center{
            position: absolute;
            width: 350px;
            height: 420px;
            margin-right: 100rem;
            margin-left: 1rem;

        }
}